# Deploy

In [32]:
# Load the data 
from __future__ import absolute_import, division, print_function, unicode_literals
import pathlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.callbacks import EarlyStopping
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import re 
import requests

In [33]:
test_url  = 'http://bit.ly/titanic-test-set'


df = pd.read_csv(test_url, index_col="PassengerId")
df.head(3)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [34]:
def predict_api(df,idx):
    passanger_id= df.iloc[idx].Name
    pyload =df.iloc[[idx]].to_json()
    api_url='https://titanichaka.herokuapp.com'
    response1= requests.post(api_url + '/predict',data= pyload)
    return {'passenger_id':passanger_id,'survived':response1.text}

In [ ]:
# Test Api

In [35]:
import requests
api_url = 'https://titanichaka.herokuapp.com/ping'
response = requests.get(api_url)
response.text

'pong'

In [36]:
predict_api(df,4)

{'passenger_id': 'Hirvonen, Mrs. Alexander (Helga E Lindqvist)',
 'survived': '<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">\n<title>500 Internal Server Error</title>\n<h1>Internal Server Error</h1>\n<p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>\n'}

In [ ]:
resultfinal=[predict_api(df, idx)for idx in range(len(df))]
pd.DataFrame(resultfinal).to_csv('path/result.csv')